# Assignment 2
### Group Member
1. Qianying Diao G438567489
2. Qiang Wang  G46077311
3. Xinrong Chen G40861353
4. Abby(JIngyi Liu) G44206031

In [1]:
import pandas as pd
from pandas import Timestamp
from ggplot import *
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
from datetime import datetime as dt
from matplotlib.pylab import date2num
import time
from pandas.core.frame import DataFrame
from dateutil.parser import parse
import seaborn as sns
import pymysql
from sqlalchemy import create_engine
import time
from datetime import datetime

/Users/liujingyi/anaconda3/lib/python3.6/site-packages/ggplot/utils.py:81: FutureWarning: pandas.tslib is deprecated and will be removed in a future version.
You can access Timestamp as pandas.Timestamp
  pd.tslib.Timestamp,

In [2]:
score = pd.read_csv('score1.csv')
train = pd.read_csv('train1.csv')

#### Recode the target variable, repeater, such that t=1 and f=0.

In [3]:
score.head(2)

,id,chain,offer,market,offerdate,category,quantity,company,offervalue,brand,avg_purchaseamount,avg_purchasequantity,exact_item_bought
0,1026984567,46,1221658,15,2013-06-22,7205,2,103700030,3.0,4294,4.8400,1.0,1.0
1,103580546,95,1221658,39,2013-06-29,7205,2,103700030,3.0,4294,2.9375,1.5,1.0

In [4]:
train['repeater'] = train['repeater'].replace('f', 0).replace('t', 1)
train = train.fillna(0)

In [5]:
train.head(2)

,id,chain,offer,market,repeater,offerdate,category,quantity,company,offervalue,brand,avg_purchaseamount,avg_purchasequantity,exact_item_bought
0,1048253332,214,1198271,8,0,2013-03-27,5558,1,107120272,1.50,5072,0.0,0.0,0.0
1,106372514,17,1197502,4,0,2013-03-28,3203,1,106414464,0.75,13474,0.0,0.0,0.0

#### Set any level of the variable category that is in the labeled train set but not in the score set to ‘unknown’ in both sets. Set any level of the variable category that is in the score set but not in the labeled train set to ‘unknown’ in both sets.

In [6]:
score_ca = score['category'].unique().tolist()
train_ca = train['category'].unique().tolist()

In [7]:
inter = list(set(score_ca) & set(train_ca))

In [8]:
socre_unique = []
for i in score_ca:
    if i not in inter:
        socre_unique.append(i)

In [9]:
for i in socre_unique:
    score['category'] = score['category'].replace(i, 'unknown')

In [10]:
train_unique = []
for i in train_ca:
    if i not in inter:
        train_unique.append(i)

In [11]:
for i in train_unique:
    train['category'] = train['category'].replace(i, 'unknown')

####  Set any level of the variable brand that is in the labeled train set but not in the score set to ‘unknown’ in both sets. Set any level of the variable brand that is in the score set but not in the labeled train set to ‘unknown’ in both sets.

In [12]:
score_br = score['brand'].unique().tolist()
train_br = train['brand'].unique().tolist()
inter = list(set(score_br) & set(train_br))

In [13]:
score_unique = []
for i in score_br:
    if i not in inter:
        score_unique.append(i)

In [14]:
train_unique = []
for i in train_br:
    if i not in inter:
        train_unique.append(i)

In [15]:
for i in score_unique:
    score['brand'] = score['brand'].replace(i, 'unknown')

In [16]:
for i in train_unique:
    train['brand'] = train['brand'].replace(i, 'unknown')

#### Set any level of the variable company that is in the labeled train set but not in the score set to ‘unknown’ in both sets. Set any level of the variable company that is in the score set but not in the labeled train set to ‘unknown’ in both sets.

In [17]:
score_co = score['company'].unique().tolist()
train_co = train['company'].unique().tolist()
inter = list(set(score_co) & set(train_co))

In [18]:
score_unique = []
for i in score_co:
    if i not in inter:
        score_unique.append(i)

In [19]:
train_unique = []
for i in train_co:
    if i not in inter:
        train_unique.append(i)

In [20]:
for i in score_unique:
    score['company'] = score['company'].replace(i, 'unknown')

In [21]:
for i in train_unique:
    train['company'] = train['company'].replace(i, 'unknown')

#### Set any level of the variable offer that is in the labeled train set but not in the score set to ‘unknown’ in both sets. Set any level of the variable offer that is in the score set but not in the labeled train set to ‘unknown’ in both sets.

In [22]:
score_offer = score['offer'].unique().tolist()
train_offer = train['offer'].unique().tolist()
inter = list(set(score_offer) & set(train_offer))

In [23]:
score_unique = []
for i in score_offer:
    if i not in inter:
        score_unique.append(i)

In [24]:
train_unique = []
for i in train_offer:
    if i not in inter:
        train_unique.append(i)

In [25]:
for i in score_unique:
    score['offer'] = score['offer'].replace(i, 'unknown')

In [26]:
for i in train_unique:
    train['offer'] = train['offer'].replace(i, 'unknown')

In [27]:
score.head(5)

,id,chain,offer,market,offerdate,category,quantity,company,offervalue,brand,avg_purchaseamount,avg_purchasequantity,exact_item_bought
0,1026984567,46,unknown,15,2013-06-22,unknown,2,unknown,3.0,unknown,4.8400,1.00,1.0
1,103580546,95,unknown,39,2013-06-29,unknown,2,unknown,3.0,unknown,2.9375,1.50,1.0
2,1047953754,46,unknown,15,2013-06-21,unknown,1,unknown,1.5,unknown,2.9250,1.75,1.0
3,1095959789,46,unknown,15,2013-07-26,unknown,1,unknown,1.0,unknown,0.0000,0.00,0.0
4,115842948,88,unknown,14,2013-06-24,unknown,1,unknown,1.5,unknown,0.0000,0.00,0.0

In [28]:
train.head(5)

,id,chain,offer,market,repeater,offerdate,category,quantity,company,offervalue,brand,avg_purchaseamount,avg_purchasequantity,exact_item_bought
0,1048253332,214,1198271,8,0,2013-03-27,5558,1,107120272,1.50,5072,0.000000,0.000000,0.0
1,106372514,17,unknown,4,0,2013-03-28,unknown,1,unknown,0.75,unknown,0.000000,0.000000,0.0
2,1064972209,214,1208251,8,0,2013-04-23,2202,1,104460040,2.00,3718,0.000000,0.000000,0.0
3,1070619072,46,1208329,15,1,2013-04-23,2119,1,108079383,1.00,6926,4.517586,1.551724,1.0
4,1080684610,214,unknown,8,1,2013-04-19,unknown,1,unknown,0.75,unknown,2.690000,1.000000,1.0

In [29]:
score.to_csv('score_.csv')

In [30]:
train.to_csv('train_.csv')

__Now load the two datasets into h2o. __       
1. Use the h2o month() function to create a new categorical variable from the offerdate variable. Create this input variable in the labeled train and score sets.       
2. Use the h2o week() function to create a new categorical variable from the offerdate variable. Create this input variable in the labeled train and score sets.  
3. Use the h2o dayOfWeek() function to create a new categorical variable from the offerdate variable. Create this input variable in the labeled train and score sets.
4. Use the h2o day() function to create a new numeric variable from the offerdate variable. Create this input variable in the labeled train and score sets.
5. Split the labeled training data into labeled training, validation, and test sets using the h2o split_frame() function. Create a 40%-30%-30% split using the seed 12345.

In [31]:
import h2o
from h2o.estimators.glm import H2OGeneralizedLinearEstimator

import operator

In [32]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
  Java Version: java version "1.8.0_201"; Java(TM) SE Runtime Environment (build 1.8.0_201-b09); Java HotSpot(TM) 64-Bit Server VM (build 25.201-b09, mixed mode)
  Starting server from /Users/liujingyi/anaconda3/lib/python3.6/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /var/folders/xy/4715fgv103zbtsvcb4z_lx7r0000gn/T/tmpratfo67s
  JVM stdout: /var/folders/xy/4715fgv103zbtsvcb4z_lx7r0000gn/T/tmpratfo67s/h2o_liujingyi_started_from_python.out
  JVM stderr: /var/folders/xy/4715fgv103zbtsvcb4z_lx7r0000gn/T/tmpratfo67s/h2o_liujingyi_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321... successful.

--------------------------  ---------------------------------------------------
H2O cluster uptime:         01 secs
H2O cluster timezone:       America/New_York
H2O data parsing timezone:  UTC
H2O cluster version:        3.22.1.4
H2O cluster version age:    21 days, 13 hours and 14 minutes
H2O cluster name:           H2O_from_python_liujingyi_xyk2u0
H2O cluster total nodes:    1
H2O cluster free memory:    1.778 Gb
H2O cluster total cores:    0
H2O cluster allowed cores:  0
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, Core V4
Python version:             3.6.5 final
--------------------------  ---------------------------------------------------

In [33]:
path = 'score_.csv'
score = h2o.import_file(path=path)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [34]:
path = 'train_.csv'
train = h2o.import_file(path=path)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [35]:
train = train.drop(['C1'], axis=1)

In [36]:
score = score.drop(['C1'], axis=1)

In [37]:
score['month'] = score['offerdate'].month().asfactor()
train['month'] = train['offerdate'].month().asfactor()

In [38]:
score['week'] = score['offerdate'].week().asfactor()
train['week'] = train['offerdate'].week().asfactor()

In [39]:
score['dayOfWeek'] = score['offerdate'].dayOfWeek().asfactor()
train['dayOfWeek'] = train['offerdate'].dayOfWeek().asfactor()

In [40]:
score['day'] = score['offerdate'].day().asfactor()
train['day'] = train['offerdate'].day().asfactor()

In [49]:
score['exact_item_bought'] = score['exact_item_bought'].asfactor()
train['exact_item_bought'] = train['exact_item_bought'].asfactor()

In [59]:
train['repeater'] = train['repeater'].asfactor()

In [60]:
train.describe()

Rows:160057
Cols:18

,id,chain,offer,market,repeater,offerdate,category,quantity,company,offervalue,brand,avg_purchaseamount,avg_purchasequantity,exact_item_bought,month,week,dayOfWeek,day
type,int,int,enum,int,enum,time,enum,int,enum,real,enum,real,real,enum,enum,enum,enum,enum
mins,86246.0,2.0,,1.0,,1362096000000.0,,1.0,,0.75,,-85.14,-1.0,,,,,
mean,1869324131.2555833,126.8103113265899,,19.95059884915997,,1365220653082.338,,1.0,,1.2553231036443275,,2.244131275722702,0.694999903182145,,,,,
maxs,4809911000.0,526.0,,96.0,,1367280000000.0,,1.0,,3.0,,62.218,44.18181818181818,,,,,
sigma,1570833451.4856315,127.93428790957736,,19.09900866957813,,1303790212.0504224,,0.0,,0.5246445261465215,,2.598952336366862,0.7609072934172982,,,,,
zeros,0,0,,0,,0,,0,,0,,72591,72549,,,,,
missing,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
0,1048253332.0,214.0,1198271,8.0,0,2013-03-27 00:00:00,5558,1.0,107120272,1.5,5072,0.0,0.0,0,3,13,Wed,27
1,106372514.0,17.0,unknown,4.0,0,2013-03-28 00:00:00,unknown,1.0,unknown,0.75,unknown,0.0,0.0,0,3,13,Thu,28
2,1064972209.0,214.0,1208251,8.0,0,2013-04-23 00:00:00,2202,1.0,104460040,2.0,3718,0.0,0.0,0,4,17,Tue,23
3,1070619072.0,46.0,1208329,15.0,1,2013-04-23 00:00:00,2119,1.0,108079383,1.0,6926,4.51758620689655,1.5517241379310345,1,4,17,Tue,23
4,1080684610.0,214.0,unknown,8.0,1,2013-04-19 00:00:00,unknown,1.0,unknown,0.75,unknown,2.69,1.0,1,4,16,Fri,19
5,110147403.0,4.0,unknown,1.0,0,2013-03-28 00:00:00,unknown,1.0,unknown,0.75,unknown,0.0,0.0,0,3,13,Thu,28
6,1106147664.0,214.0,1208251,8.0,1,2013-04-23 00:00:00,2202,1.0,104460040,2.0,3718,0.0,0.0,0,4,17,Tue,23
7,1114920745.0,46.0,unknown,15.0,1,2013-03-30 00:00:00,unknown,1.0,unknown,0.75,unknown,2.515,1.0,1,3,13,Sat,30
8,117843820.0,15.0,unknown,9.0,0,2013-04-02 00:00:00,unknown,1.0,unknown,0.75,unknown,0.0,0.0,0,4,14,Tue,2
9,1182929300.0,214.0,unknown,8.0,0,2013-03-27 00:00:00,unknown,1.0,unknown,0.75,unknown,0.0,0.0,0,3,13,Wed,27

In [61]:
score.describe()

Rows:151484
Cols:17

,id,chain,offer,market,offerdate,category,quantity,company,offervalue,brand,avg_purchaseamount,avg_purchasequantity,exact_item_bought,month,week,dayOfWeek,day
type,int,int,enum,int,time,enum,int,enum,real,enum,real,real,enum,enum,enum,enum,enum
mins,12262064.0,2.0,,1.0,1367366400000.0,,1.0,,1.0,,-18.76,-1.0,,,,,
mean,2367235598.062943,189.44308309788474,,35.40409548203112,1372045742758.3115,,1.2141942383354014,,1.8039594940719805,,3.918267425267716,0.9798367012158934,,,,,
maxs,4853598737.0,526.0,,96.0,1375228800000.0,,2.0,,5.0,,103.87,40.0,,,,,
sigma,1629644569.9344227,175.56936358304523,,33.48348345528044,1768808429.4715595,,0.4102635466557287,,0.7684280524816698,,3.2478020120196245,0.6520652050936454,,,,,
zeros,0,0,,0,0,,0,,0,,27970,27950,,,,,
missing,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
0,1026984567.0,46.0,unknown,15.0,2013-06-22 00:00:00,unknown,2.0,unknown,3.0,unknown,4.84,1.0,1,6,25,Sat,22
1,103580546.0,95.0,unknown,39.0,2013-06-29 00:00:00,unknown,2.0,unknown,3.0,unknown,2.9375,1.5,1,6,26,Sat,29
2,1047953754.0,46.0,unknown,15.0,2013-06-21 00:00:00,unknown,1.0,unknown,1.5,unknown,2.9250000000000003,1.75,1,6,25,Fri,21
3,1095959789.0,46.0,unknown,15.0,2013-07-26 00:00:00,unknown,1.0,unknown,1.0,unknown,0.0,0.0,0,7,30,Fri,26
4,115842948.0,88.0,unknown,14.0,2013-06-24 00:00:00,unknown,1.0,unknown,1.5,unknown,0.0,0.0,0,6,26,Mon,24
5,116021835.0,95.0,unknown,39.0,2013-05-21 00:00:00,unknown,1.0,unknown,2.0,unknown,6.426666666666668,1.3333333333333333,1,5,21,Tue,21
6,116517444.0,15.0,unknown,9.0,2013-06-29 00:00:00,unknown,1.0,unknown,1.5,unknown,0.0,0.0,0,6,26,Sat,29
7,119994909.0,15.0,unknown,9.0,2013-05-11 00:00:00,unknown,1.0,unknown,1.5,unknown,14.49,1.0,1,5,19,Sat,11
8,120855534.0,95.0,unknown,39.0,2013-07-25 00:00:00,unknown,1.0,unknown,1.0,unknown,3.923333333333333,1.0,1,7,30,Thu,25
9,120941072.0,4.0,unknown,1.0,2013-06-29 00:00:00,unknown,1.0,unknown,1.5,unknown,0.0,0.0,0,6,26,Sat,29

Split the labeled training data into labeled training, validation, and test sets using the h2o split_frame() function. Create a 40%-30%-30% split using the seed 12345.

In [62]:
training, validation, test = train.split_frame([0.4,0.3], seed = 12345)

We will now train a penalized logistic regression model using several categorical and numeric predictors.          
The categorical inputs should be: offer, category, company, brand, whether the exact item was bought in the past, month, week, and day of week.
The numeric inputs should be: offervalue, the average dollar amount purchased in-category, the average quantity purchased in-category, and day of month.              
The target is repeater.          
Use iteratively reweighted least squares as your solver, use 3 CV folds in your training partition, standardize your inputs, conduct a search for the best lambda parameter, and use a seed of 12345.               
Download the POJO for the logistic regression classifier after training.

In [63]:
from h2o.estimators.glm import H2OGeneralizedLinearEstimator

In [64]:
y = 'repeater'
X = [name for name in train.columns if name not in ['chain', 'market','offerdate','quantity', 'id',y]]

In [65]:
training[y] = train[y].asfactor()
test[y] = test[y].asfactor()
validation[y] = validation[y].asfactor()

In [66]:
model = H2OGeneralizedLinearEstimator(family='binomial',
                                         solver='IRLSM',
                                         standardize=True,
                                         model_id='glm',
                                         lambda_search=True, nfolds = 3, seed = 12345)

In [67]:
model.train(X, y, training_frame=train,  validation_frame=validation)

glm Model Build progress: |███████████████████████████████████████████████| 100%

In [68]:
h2o.download_pojo(model)

/*
  Licensed under the Apache License, Version 2.0
    http://www.apache.org/licenses/LICENSE-2.0.html

  AUTOGENERATED BY H2O at 2019-03-09T12:22:10.272-05:00
  3.22.1.4

  Standalone prediction code with sample test data for GLMModel named glm

  How to download, compile and execute:
      mkdir tmpdir
      cd tmpdir
      curl http://127.0.0.1:54321/3/h2o-genmodel.jar > h2o-genmodel.jar
      curl http://127.0.0.1:54321/3/Models.java/glm > glm.java
      javac -cp h2o-genmodel.jar -J-Xmx2g -J-XX:MaxPermSize=128m glm.java

     (Note:  Try java argument -XX:+PrintCompilation to show runtime JIT compiler behavior.)
*/
import java.util.Map;
import hex.genmodel.GenModel;
import hex.genmodel.annotations.ModelPojo;

@ModelPojo(name="glm", algorithm="glm")
public class glm extends GenModel {
  public hex.ModelCategory getModelCategory() { return hex.ModelCategory.Binomial; }

  public boolean isSupervised() { return true; }
  public int nfeatures() { return 12; }
  public int nclasses() { return 2; }

  // Names of columns used by model.
  public static final String[] NAMES = NamesHolder_glm.VALUES;
  // Number of output classes included in training data response column.
  public static final int NCLASSES = 2;

  // Column domains. The last array contains domain of response column.
  public static final String[][] DOMAINS = new String[][] {
    /* day */ glm_ColInfo_0.VALUES,
    /* offer */ glm_ColInfo_1.VALUES,
    /* week */ glm_ColInfo_2.VALUES,
    /* category */ glm_ColInfo_3.VALUES,
    /* brand */ glm_ColInfo_4.VALUES,
    /* dayOfWeek */ glm_ColInfo_5.VALUES,
    /* company */ glm_ColInfo_6.VALUES,
    /* month */ glm_ColInfo_7.VALUES,
    /* exact_item_bought */ glm_ColInfo_8.VALUES,
    /* offervalue */ null,
    /* avg_purchaseamount */ null,
    /* avg_purchasequantity */ null,
    /* repeater */ glm_ColInfo_12.VALUES
  };
  // Prior class distribution
  public static final double[] PRIOR_CLASS_DISTRIB = null;
  // Class distribution used for model building
  public static final double[] MODEL_CLASS_DISTRIB = null;

  public glm() { super(NAMES,DOMAINS,"repeater"); }
  public String getUUID() { return Long.toString(-4460682953528321920L); }

  // Pass in data in a double[], pre-aligned to the Model's requirements.
  // Jam predictions into the preds[] array; preds[0] is reserved for the
  // main prediction (class for classifiers or value for regression),
  // and remaining columns hold a probability distribution for classifiers.
  public final double[] score0( double[] data, double[] preds ) {
    final double [] b = BETA.VALUES;
    for(int i = 0; i < 9; ++i) if(Double.isNaN(data[i])) data[i] = CAT_MODES.VALUES[i];
    for(int i = 0; i < 3; ++i) if(Double.isNaN(data[i + 9])) data[i+9] = NUM_MEANS.VALUES[i];
    double eta = 0.0;
    for(int i = 0; i < CATOFFS.length-1; ++i) {
      int ival = (int)data[i];
      if(ival != data[i]) throw new IllegalArgumentException("categorical value out of range");
      ival += CATOFFS[i];
      if(ival < CATOFFS[i + 1])
        eta += b[ival];
    }
    for(int i = 9; i < b.length-1-84; ++i)
    eta += b[84+i]*data[i];
    eta += b[b.length-1]; // reduce intercept
    double mu = hex.genmodel.GenModel.GLM_logitInv(eta);
    preds[0] = (mu >= 0.27127161566640445) ? 1 : 0; // threshold given by ROC
    preds[1] = 1.0 - mu; // class 0
    preds[2] =       mu; // class 1
    return preds;
  }
    public static class BETA implements java.io.Serializable {
      public static final double[] VALUES = new double[97];
      static {
        BETA_0.fill(VALUES);
      }
      static final class BETA_0 implements java.io.Serializable {
        static final void fill(double[] sa) {
          sa[0] = 0.1262124831180898;
          sa[1] = 0.12703358188096928;
          sa[2] = 0.14960703279195284;
          sa[3] = 0.036339641333452084;
          sa[4] = 0.06357048906122106;
          sa[5] = 0.0;
          sa[6] = 0.07146679667422919;
          sa[7] = 0.0;
          sa[8] = -0.05746437045831364;
          sa[9] = 0.06811304303380099;
          sa[10] = 0.12061015577295937;
          sa[11] = 0.3050895576161482;
          sa[12] = 0.0;
          sa[13] = -0.11025474089566156;
          sa[14] = 0.0;
          sa[15] = -0.02831087240411346;
          sa[16] = 0.04022220494817993;
          sa[17] = -0.008391408461879975;
          sa[18] = -0.03461520443171633;
          sa[19] = 0.0;
          sa[20] = -8.261883899427225E-4;
          sa[21] = 0.03871940485915617;
          sa[22] = 0.0;
          sa[23] = -0.005459331531641763;
          sa[24] = 0.01904036294554781;
          sa[25] = 0.0;
          sa[26] = -0.021043497702334636;
          sa[27] = 0.0;
          sa[28] = -0.029151484813584396;
          sa[29] = 0.0;
          sa[30] = -0.05945660063968932;
          sa[31] = 0.0;
          sa[32] = 0.005674378946064082;
          sa[33] = 0.0;
          sa[34] = -0.23410703817599668;
          sa[35] = -0.01925347708029048;
          sa[36] = -0.15008916792096536;
          sa[37] = 0.0;
          sa[38] = 0.005542642602936281;
          sa[39] = -0.12232069577970674;
          sa[40] = -0.08863992166331508;
          sa[41] = 0.0;
          sa[42] = 0.0;
          sa[43] = 0.7748981914617932;
          sa[44] = 0.04326376062634822;
          sa[45] = 0.48938374103354887;
          sa[46] = 0.0;
          sa[47] = -0.25378404046383035;
          sa[48] = 0.5419695053103096;
          sa[49] = 0.5352512183195375;
          sa[50] = -0.33319703502067655;
          sa[51] = -0.23394639515727272;
          sa[52] = -0.5716840166271131;
          sa[53] = 0.10168497454754002;
          sa[54] = 0.0950655186687543;
          sa[55] = -0.1480470218287769;
          sa[56] = -0.10022983801717061;
          sa[57] = -0.06949551551027688;
          sa[58] = -0.17019655114556403;
          sa[59] = 0.04326376062635094;
          sa[60] = 0.6257014008040166;
          sa[61] = 0.005542642602936205;
          sa[62] = -0.05432154070584156;
          sa[63] = -0.12232069577971154;
          sa[64] = -0.0848875583319752;
          sa[65] = 0.11044176648845772;
          sa[66] = -0.25378404046380726;
          sa[67] = -0.08488755833197767;
          sa[68] = -0.12232069577971184;
          sa[69] = 0.6257014008040419;
          sa[70] = -0.05432154070584184;
          sa[71] = 0.1104417664884603;
          sa[72] = 0.043263760626351136;
          sa[73] = -0.97412617701856;
          sa[74] = 0.06098954004355675;
          sa[75] = 0.0;
          sa[76] = 0.007436967064153643;
          sa[77] = 0.0;
          sa[78] = -0.007674436108115121;
          sa[79] = -0.020276312288265184;
          sa[80] = 0.05512860210320436;
          sa[81] = 0.0;
          sa[82] = 0.0;
          sa[83] = -0.12232069577971856;
          sa[84] = -0.05432154070584431;
          sa[85] = -0.08488755833197875;
          sa[86] = 0.043263760626352926;
          sa[87] = 0.11044176648846021;
          sa[88] = 0.06098954004358481;
          sa[89] = 0.16457855578266192;
          sa[90] = -0.13154784512764398;
          sa[91] = -0.3354222413328993;
          sa[92] = 0.2604915573486391;
          sa[93] = -0.8828274981792866;
          sa[94] = 0.06802530767939194;
          sa[95] = -0.1342514209345119;
          sa[96] = 0.2673713713245319;
        }
      }
}
// Imputed numeric values
    static class NUM_MEANS implements java.io.Serializable {
      public static final double[] VALUES = new double[3];
      static {
        NUM_MEANS_0.fill(VALUES);
      }
      static final class NUM_MEANS_0 implements java.io.Serializable {
        static final void fill(double[] sa) {
          sa[0] = 1.2553231036443275;
          sa[1] = 2.244131275722702;
          sa[2] = 0.694999903182145;
        }
      }
}
// Imputed categorical values.
    static class CAT_MODES implements java.io.Serializable {
      public static final int[] VALUES = new int[9];
      static {
        CAT_MODES_0.fill(VALUES);
      }
      static final class CAT_MODES_0 implements java.io.Serializable {
        static final void fill(int[] sa) {
          sa[0] = 24;
          sa[1] = 16;
          sa[2] = 4;
          sa[3] = 8;
          sa[4] = 7;
          sa[5] = 0;
          sa[6] = 6;
          sa[7] = 1;
          sa[8] = 1;
        }
      }
}
    // Categorical Offsets
    public static final int[] CATOFFS = {0,31,48,58,67,75,82,89,91,93};
}
// The class representing training column names
class NamesHolder_glm implements java.io.Serializable {
  public static final String[] VALUES = new String[12];
  static {
    NamesHolder_glm_0.fill(VALUES);
  }
  static final class NamesHolder_glm_0 implements java.io.Serializable {
    static final void fill(String[] sa) {
      sa[0] = "day";
      sa[1] = "offer";
      sa[2] = "week";
      sa[3] = "category";
      sa[4] = "brand";
      sa[5] = "dayOfWeek";
      sa[6] = "company";
      sa[7] = "month";
      sa[8] = "exact_item_bought";
      sa[9] = "offervalue";
      sa[10] = "avg_purchaseamount";
      sa[11] = "avg_purchasequantity";
    }
  }
}
// The class representing column day
class glm_ColInfo_0 implements java.io.Serializable {
  public static final String[] VALUES = new String[31];
  static {
    glm_ColInfo_0_0.fill(VALUES);
  }
  static final class glm_ColInfo_0_0 implements java.io.Serializable {
    static final void fill(String[] sa) {
      sa[0] = "1";
      sa[1] = "2";
      sa[2] = "3";
      sa[3] = "4";
      sa[4] = "5";
      sa[5] = "6";
      sa[6] = "7";
      sa[7] = "8";
      sa[8] = "9";
      sa[9] = "10";
      sa[10] = "11";
      sa[11] = "12";
      sa[12] = "13";
      sa[13] = "14";
      sa[14] = "15";
      sa[15] = "16";
      sa[16] = "17";
      sa[17] = "18";
      sa[18] = "19";
      sa[19] = "20";
      sa[20] = "21";
      sa[21] = "22";
      sa[22] = "23";
      sa[23] = "24";
      sa[24] = "25";
      sa[25] = "26";
      sa[26] = "27";
      sa[27] = "28";
      sa[28] = "29";
      sa[29] = "30";
      sa[30] = "31";
    }
  }
}
// The class representing column offer
class glm_ColInfo_1 implements java.io.Serializable {
  public static final String[] VALUES = new String[17];
  static {
    glm_ColInfo_1_0.fill(VALUES);
  }
  static final class glm_ColInfo_1_0 implements java.io.Serializable {
    static final void fill(String[] sa) {
      sa[0] = "1198271";
      sa[1] = "1198272";
      sa[2] = "1198273";
      sa[3] = "1198274";
      sa[4] = "1198275";
      sa[5] = "1200581";
      sa[6] = "1200582";
      sa[7] = "1200584";
      sa[8] = "1204576";
      sa[9] = "1204821";
      sa[10] = "1204822";
      sa[11] = "1208251";
      sa[12] = "1208252";
      sa[13] = "1208329";
      sa[14] = "1208501";
      sa[15] = "1208503";
      sa[16] = "unknown";
    }
  }
}
// The class representing column week
class glm_ColInfo_2 implements java.io.Serializable {
  public static final String[] VALUES = new String[10];
  static {
    glm_ColInfo_2_0.fill(VALUES);
  }
  static final class glm_ColInfo_2_0 implements java.io.Serializable {
    static final void fill(String[] sa) {
      sa[0] = "9";
      sa[1] = "10";
      sa[2] = "11";
      sa[3] = "12";
      sa[4] = "13";
      sa[5] = "14";
      sa[6] = "15";
      sa[7] = "16";
      sa[8] = "17";
      sa[9] = "18";
    }
  }
}
// The class representing column category
class glm_ColInfo_3 implements java.io.Serializable {
  public static final String[] VALUES = new String[9];
  static {
    glm_ColInfo_3_0.fill(VALUES);
  }
  static final class glm_ColInfo_3_0 implements java.io.Serializable {
    static final void fill(String[] sa) {
      sa[0] = "1726";
      sa[1] = "2119";
      sa[2] = "2202";
      sa[3] = "3504";
      sa[4] = "5558";
      sa[5] = "5616";
      sa[6] = "5619";
      sa[7] = "6202";
      sa[8] = "unknown";
    }
  }
}
// The class representing column brand
class glm_ColInfo_4 implements java.io.Serializable {
  public static final String[] VALUES = new String[8];
  static {
    glm_ColInfo_4_0.fill(VALUES);
  }
  static final class glm_ColInfo_4_0 implements java.io.Serializable {
    static final void fill(String[] sa) {
      sa[0] = "102504";
      sa[1] = "15889";
      sa[2] = "3718";
      sa[3] = "5072";
      sa[4] = "64486";
      sa[5] = "6926";
      sa[6] = "7668";
      sa[7] = "unknown";
    }
  }
}
// The class representing column dayOfWeek
class glm_ColInfo_5 implements java.io.Serializable {
  public static final String[] VALUES = new String[7];
  static {
    glm_ColInfo_5_0.fill(VALUES);
  }
  static final class glm_ColInfo_5_0 implements java.io.Serializable {
    static final void fill(String[] sa) {
      sa[0] = "Mon";
      sa[1] = "Tue";
      sa[2] = "Wed";
      sa[3] = "Thu";
      sa[4] = "Fri";
      sa[5] = "Sat";
      sa[6] = "Sun";
    }
  }
}
// The class representing column company
class glm_ColInfo_6 implements java.io.Serializable {
  public static final String[] VALUES = new String[7];
  static {
    glm_ColInfo_6_0.fill(VALUES);
  }
  static final class glm_ColInfo_6_0 implements java.io.Serializable {
    static final void fill(String[] sa) {
      sa[0] = "104460040";
      sa[1] = "104610040";
      sa[2] = "107120272";
      sa[3] = "107717272";
      sa[4] = "108079383";
      sa[5] = "1087744888";
      sa[6] = "unknown";
    }
  }
}
// The class representing column month
class glm_ColInfo_7 implements java.io.Serializable {
  public static final String[] VALUES = new String[2];
  static {
    glm_ColInfo_7_0.fill(VALUES);
  }
  static final class glm_ColInfo_7_0 implements java.io.Serializable {
    static final void fill(String[] sa) {
      sa[0] = "3";
      sa[1] = "4";
    }
  }
}
// The class representing column exact_item_bought
class glm_ColInfo_8 implements java.io.Serializable {
  public static final String[] VALUES = new String[2];
  static {
    glm_ColInfo_8_0.fill(VALUES);
  }
  static final class glm_ColInfo_8_0 implements java.io.Serializable {
    static final void fill(String[] sa) {
      sa[0] = "0";
      sa[1] = "1";
    }
  }
}
// The class representing column repeater
class glm_ColInfo_12 implements java.io.Serializable {
  public static final String[] VALUES = new String[2];
  static {
    glm_ColInfo_12_0.fill(VALUES);
  }
  static final class glm_ColInfo_12_0 implements java.io.Serializable {
    static final void fill(String[] sa) {
      sa[0] = "0";
      sa[1] = "1";
    }
  }
}

h2o.cluster().shutdown(prompt=True)

__Answer the following questions:  __    
_1. (2 pts.) By default h2o finds the cutoff that maximizes the F1 statistic in the validation data. What is the cutoff that maximizes the F1 statistic in the validation data? What is the validation data AUC?_        
cutoff: 0.2713 AUC: 0.671562

_2. (1 pt.) What is the accuracy in the validation data at this cutoff?_.     
0.5943

_3. (1 pt.) What is the cumulative lift for the model at the 10th decile in the validation data?_      
1.8330

_4. (1 pt.) What offer day of the week is most positively associated with becoming a repeat shopper?_    
Sat

_5. (2 pts.) What is the interpretation of the coefficient associated with a customer having bought the exact item in the past?_    
0.6000: Holding other variables constance, the customer who has bought the item before change the odd of repeat buying by 1.82 on average.

_6. (1 pt.) What is the probability for ID 13584134 in the score set to become a repeat shopper according to your model._    
The probobility for TRUE is 0.135, the probobility for 'FALSE' is 0.865. So according to the model, the customer may not buy the item again.

In [69]:
a = score['id'] ==  13584134
b = score[a,:]
model.predict(b)

glm prediction progress: |████████████████████████████████████████████████| 100%

/Users/liujingyi/anaconda3/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset column 'week' has levels not trained on: [19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
  warnings.warn(w)
/Users/liujingyi/anaconda3/lib/python3.6/site-packages/h2o/job.py:69: UserWarning: Test/Validation dataset column 'month' has levels not trained on: [5, 6, 7]
  warnings.warn(w)

predict,p0,p1
0,0.86471,0.13529

#### Bonus Part
_What potential modeling problem did our data preprocessing in assignment 1 cause?_

The original dataset contains incomplete data, and we set the missing data as 0 or unknown，which changes the distribution of the input data and the the training data is a little biased. Besides, the training data may contain some outliers, which result to biased models and biased, inaccurate results. But we did not detect and deal with the outliers in the first assignment.